<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %} - Diem SF2</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="language" content="en" />
    <link href="{{ asset('bundles/diemfront/css/main.css') }}" rel="stylesheet" type="text/css" />
    <!--
    <link rel="stylesheet" type="text/css" media="all" href="/diem-ipsum/web/cache/css/5787152727ded58736a07b043a7533a0.css" />
    <link rel="shortcut icon" href="/diem-ipsum/web/favicon.png" type="image/x-icon" />
    -->
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    {% endblock %}
  </head>
  <body class="page_main_root">
    {% block content %}
    {% endblock %}
    </body>
</html>