{% extends "DiemFront::layout.html.twig" %}

{% block content %}
{{ parent() }}
<div id="dm_page"{% if isEditMode %} class="edit"{% endif %}>

     <div class="dm_layout">
    {% block area %}
    {% endblock %}
    <div class="dm_layout_center clearfix">
      <p>
        Hello World!
      </p>
    </div>
    
    {% render "DiemFront:Helper:renderArea" with {'name': 'layout.top'} %}

    <div class="dm_layout_center clearfix">
      {% render "DiemFront:Helper:renderArea" with {'name': 'layout.left'} %}

      {% render "DiemFront:Helper:renderArea" with {'name': 'layout.content'} %}
      
      {% render "DiemFront:Helper:renderArea" with {'name': 'layout.right'} %}
    </div>

    {% render "DiemFront:Helper:renderArea" with {'name': 'layout.bottom'} %}
    
  </div>

</div>

{% endblock %}